.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox {
  margin-right: 10px;
}

.taskDescription {
  flex-grow: 1;
}

.delete {
  background-color: #dc3545;
}

.delete:hover {
  background-color: #c82333;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

.restMessage {
  font-size: 20px;
  color: rgb(229, 235, 229);
  background-color: #007bff;
  padding: 10px;
  border: 1px solid rgb(18, 19, 18);
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(20, 17, 17, 0.1);
}
