.listItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .taskDescription {
    flex-grow: 1;
  }
  
  .delete {
    background-color: #dc3545;
  }
  
  .delete:hover {
    background-color: #c82333;
  }
  